@{
    ViewBag.Title = "Home Page";
}

<input type="file" name="file01" id="file01" value="file01" />
<input type="button" id="test" value="ClickMe" />
<div id="Hi">
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#test").click(function () {

            @*$.get('@Url.Action("WelcomeMsg","[controller]")', { input: name }, function (data) {*@
            @*$.post('@Url.Action("TestAlert", "Home")', function (data) {
                alert(data);
                $("#Hi").html(data);
            });*@

            //取得檔案
            //var fileInput = document.getElementById('file01');
            //var file = fileInput.files[0];
            //var formData = new FormData();
            //formData.append('file', file);

            var files = document.getElementById('file01').files;
            if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        //可上傳多檔案
                        for (var x = 0; x < files.length; x++) {
                            data.append(files[x].name, files[x]);
                        }

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadFile", "Home")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (xhr, status) {
                                console.log("上傳失敗");
                            }
                        });
                    } else {
                        alert("此瀏覽器不支援HTML5檔案上傳");
                    }
                }
        });
    });
</script>